
# virtual env
env

# ignore module donfig
*__pycache__

# Ignore secret files
.env

# ignore default folders
data/raw/*
data/wrangle/*
dataset/*
models/*
documents/*
embeddings/*
reports/*

# do not ignore .placeholder
!.placeholder


# ignore temp files
dataset_v1